// Margin
$margin-5: 5px;
$margin-10: 10px;
$margin-15: 15px;
$margin-20: 20px;
$margin-25: 25px;
$margin-30: 30px;
$margin-45: 45px;
$margin-55: 55px;
$margin-60: 60px;
$margin-80: 80px;

// Padding
$padding-5: 5px;
$padding-10: 10px;
$padding-15: 15px;
$padding-20: 20px;
$padding-25: 25px;
$padding-30: 30px;
$padding-45: 45px;
$padding-55: 55px;
$padding-60: 60px;
$padding-80: 80px;

// Colours
$color-ed9328: #ed9328;
$color-ffffff: #ffffff;
$color-97ca3e: #97ca3e;
$color-0e63ef: #0e63ef;
$color-ffd816: #ffd816;
$color-000000: #000000;
$color-b1b1b1: #b1b1b1;
$color-ebebeb: #ebebeb;

